/********** Base styles **********/
* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 15px;
    text-align: center;
}

p {
    border: 1px solid black;
    background-color: #A52A2A;
    width: 90%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: white;
}

.row {
    display: flex; /* Используем flexbox для управления расположением элементов */
    flex-wrap: wrap; /* Позволяем элементам переноситься на новую строку */
    justify-content: center; /* Центрируем элементы по горизонтали */
}

/********** Desktop version **********/
@media (min-width: 992px) {
    .col-item {
        flex: 0 0 33.33%; /* Каждый элемент занимает одну треть ширины */
        max-width: 33.33%; /* Максимальная ширина 33.33% */
    }
}

/********** Tablet version **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-item {
        flex: 0 0 50%; /* Первые два элемента занимают 50% */
        max-width: 50%; /* Максимальная ширина 50% */
    }
    .col-item:last-child {
        flex: 0 0 100%; /* Последний элемент занимает всю ширину */
        max-width: 100%; /* Максимальная ширина 100% */
    }
}

/********** Mobile version **********/
@media (max-width: 767px) {
    .col-item {
        flex: 0 0 100%; /* Каждый элемент занимает 100% */
        max-width: 100%; /* Максимальная ширина 100% */
    }
}

